
.sign-in-form .mat-form-field-appearance-legacy .mat-form-field-label {
    color: #747474 !important;
}

.sign-in-form .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: #dbdada;
}

body {
    margin: 0;
}

// nav bar

.topnav {
    overflow: hidden;
    background-color: #000000;
}
  
.topnav .menu a,
.topnav .login-div a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
}
  
.topnav .menu a:hover,
.topnav .login-div a:hover {
    background-color: #e10000;
    color: white;
}
  
.topnav .menu a.active,
.topnav .login-div a.active {
    background-color: #e10000;
    color: white;
}
  
.topnav .menu .icon,
.topnav .login-div .icon {
    display: none;
}

.menu {
    float: left;
    width: 90%;
}

.login-div {
    float: right;
}

// nav bar 

// Container

.header {
    width: 100%;
    z-index: 999;
}

.m-p-0 {
    margin: 0 auto;
    padding: 0px;
}

.comp-info {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin: 20px;
}

// Container

// login

.btn-icon {
    position: absolute;
    right: 0;
    border: 0;
    background: none;
    padding: 15px 10px;
}

.sign-btn {
    background: none;
    border: none;
    outline: none;
    color: #fff;
    margin-top: 10px;
}

// #bg {
//     background-image: url('../../assets/img/bg.png');
//     filter: blur(4px);
//     -webkit-filter: blur(4px);
//     height: calc(100vh); 
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
// }

// .bg-text {
//     background-color: rgb(0,0,0);
//     background-color: rgba(0,0,0, 0.8);
//     color: white;
//     font-weight: bold;
//     border-radius: 9px;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     z-index: 2;
//     padding: 20px;
//     text-align: center;
// }
  
// .login-page {
//     font-family: 'Lato', sans-serif;
//     color: #4A4A4A;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     overflow: hidden;
//     margin: 0;
//     padding: 0;
// }
  
// form {
//     width: 350px;
//     position: relative;
// }
  
// form .form-field::before {
//     font-size: 20px;
//     position: absolute;
//     left: 15px;
//     top: 17px;
//     color: #888888;
//     content: " ";
//     display: block;
//     background-size: cover;
//     background-repeat: no-repeat;
// }

// form .form-field.name::before {
//     background-image: url('../../assets/img/user-icon.png');
//     width: 20px;
//     height: 20px;
//     top: 9px;
// }
  
// form .form-field.email::before {
//     background-image: url('../../assets/img/mail.png');
//     width: 19px;
//     height: 19px;
//     top: 10px;
// }
  
// form .form-field.password::before {
//     background-image: url('../../assets/img/lock-icon.png');
//     width: 16px;
//     height: 16px;
//     top: 10px;
// }
  
// form .form-field {
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: flex;
//     -webkit-box-pack: justify;
//     -ms-flex-pack: justify;
//     justify-content: space-between;
//     -webkit-box-align: center;
//     -ms-flex-align: center;
//     align-items: center;
//     margin-bottom: 1rem;
//     position: relative;
// }
  
// form input {
//     font-family: inherit;
//     width: 100%;
//     outline: none;
//     background-color: #fff;
//     border-radius: 4px;
//     border: none;
//     display: block;
//     padding: 0.9rem 0.7rem;
//     box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
//     font-size: 17px;
//     color: #4A4A4A;
//     text-indent: 40px;
// }

// form .btn {
//     outline: none;
//     border: none;
//     cursor: pointer;
//     display: inline-block;
//     margin: 0 auto;
//     padding: 0.7rem 1.5rem;
//     text-align: center;
//     background-color: #11ab9d;
//     color: #fff;
//     border-radius: 4px;
//     box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
//     font-size: 17px;
// }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.col-white {
    color: #fff;
}

.login-eye {
    position: absolute;
    top: -11px;
    right: 0;
}