<div id="bg"></div>
<div class="login-page">
    <div class="">
        <div class="bg-text">
            <div class="alert alert-danger" role="alert" *ngIf="submitted">
              Username or password is incorrect
            </div>
            <mat-card>
                <h3 class="text-center">Login</h3>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <mat-form-field class="w-100">
                        <input type="text" matInput placeholder="Email" formControlName="email" [pattern]="emailPattern">
                        <mat-error *ngIf="data['email'].errors && data['email'].errors['required']">Email is required</mat-error>
                        <mat-error *ngIf="data['email'].errors && data['email'].errors['pattern']">{{emailErrorMgs}}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <input type="password" matInput placeholder="Password" formControlName="password" [pattern]="pwdPattern">
                        
                        <mat-error *ngIf="data['password'].errors && data['password'].errors['pattern']">{{pwdErrorMgs}}</mat-error>
                        <mat-error *ngIf="data['password'].errors && data['password'].errors['required']">Password is required</mat-error>
                    </mat-form-field>
                    
                
                    <!-- <div class="form-field password">
                        <input  [type]="user.showPassword ? 'text' : 'password'" id="password" class="form-control" name="password" placeholder="Password"
                            required="required" minlength="9" ngModel/>   
                        <button type="button" class="btn-icon" (click)="user.showPassword = !user.showPassword">
                            <i class="fa" [ngClass]="{'fa-eye': !user.showPassword, 'fa-eye-slash': user.showPassword}"></i>
                        </button>                    
                    </div> -->
                    <div class="form-group mt-4">
                        <button mat-raised-button color="primary">Login</button>
                        <a [routerLink]="['/register']" class="ml-2" mat-button color="#fff">Register</a>
                    </div>
                </form>
            </mat-card>
        </div>
    </div>
</div>



<!-- <div id="bg"></div>
<div class="login-page">
    <div class="">

        <div class="bg-text">
            <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" >
                <div class="form-field email">
                    <input type="text" id="inputLogin" class="form-control" name="login" placeholder="Email" required="required" ngModel />
                </div>
                
                <div class="form-field password">
                    <input  [type]="user.showPassword ? 'text' : 'password'" id="password" class="form-control" name="password" placeholder="Password"
                        required="required" minlength="9" ngModel/>   
                    <button type="button" class="btn-icon" (click)="user.showPassword = !user.showPassword">
                        <i class="fa" [ngClass]="{'fa-eye': !user.showPassword, 'fa-eye-slash': user.showPassword}"></i>
                    </button>                    
                </div>
                
                <div class="form-field m-0">
                    <button class="btn" type="submit" [disabled]="loginForm.invalid">Log in</button>
                </div>

                <div class="">
                    <button class="sign-btn" (click)="signUp()">Don't have an account? Sign up now!</button>
                </div>
            </form>
        </div>
    </div>
</div> -->