<div class="row m-p-0">
    <div class="col-12 m-p-0">
        <div class="header">
            <div class="topnav" id="myTopnav">
                <div class="menu">
                    <a [routerLink]="['/home']" class="active">Home</a>
                    <a [routerLink]="['/about']">About</a>
                    <a [routerLink]="['/contact']">Contact</a>
                </div>
                <div class="login-div">
                    <a class="" (click)="logout()">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>