<div class="row m-p-0">
    <div class="col-12 m-p-0">
        <div class="header">
            <div class="topnav fixed-top" id="myTopnav">
                <div class="logo">
                    <a routerLink="/home" class="">Logo</a> <!-- <img class="logo-img" src="../../assets/img/logo.png"/> -->
                </div>
                <div class="menu">
                    <a routerLink="/home" routerLinkActive="active">Home</a>
                    <a routerLink="/about" routerLinkActive="active">About</a>
                    <a routerLink="/profile" routerLinkActive="active">Profile</a>
                    <a routerLink="/contact" routerLinkActive="active">Contact</a>
                </div>
                <div class="login-div">
                    <a class="" (click)="logout()">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>