<app-main></app-main>
<div class="bg-wrp">
</div>
<div class="">
    <div class="container">
        <div class="profile-wrp">
            <div class="row">
                <div class="col-md-4 order-lg-1 text-lg-right align-self-lg-center">
                    <div class="card-profile-status">
                        <div class="card-head">
                            <p class="heading">30</p>
                            <div class="description">Friends</div>
                        </div>
                        <div class="card-head">
                            <p class="heading">30</p>
                            <div class="description">Friends</div>
                        </div>
                        <div class="card-head">
                            <p class="heading">30</p>
                            <div class="description">Friends</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 order-lg-2">
                    <div class="profile-img-div">
                        <img [src]="user?.picture?.large" class="profile-img">
                        <!-- <div class="camera-icon">
                            <img src="../../assets/img/camera-icon.png"/>
                        </div> -->
                    </div>
                </div>
                <div class="col-md-4 order-lg-3 text-lg-right align-self-lg-center">
                    <div class="card-profile-action">
                        <button mat-button class="mx-2" color="primary">Message</button>
                        <button mat-button class="mx-2" color="primary">Connect</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h3 class="profile-name text-center mt-3">{{ user?.name?.title }}. {{ user?.name?.first }}
                        {{ user?.name?.last }} ,  <span class="profile-age">{{ user?.dob?.age }}</span> </h3>
                    <p></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <mat-form-field>
                        <mat-label>ID</mat-label>
                        <input matInput readonly disabled="true"> G-{{ generatedNumber }} <!-- {{ user?.id?.value }} -->
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field>
                        <mat-label>Registered at the age</mat-label>
                        <input matInput readonly disabled="true"> {{ user?.registered.age }}
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field>
                        <mat-label>Registered On</mat-label>
                        <input matInput readonly disabled="true"> {{ user?.registered.date | date }}
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field>
                        <mat-label>DOB</mat-label>
                        <input matInput readonly disabled="true"> {{ user?.dob?.age }}
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <mat-form-field>
                        <mat-label>Gender</mat-label>
                        <input matInput readonly disabled="true"> {{ user?.gender }}
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field>
                        <mat-label>Mobile</mat-label>
                        <input matInput readonly disabled="true"> {{ user?.cell }}
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field>
                        <mat-label>Phone</mat-label>
                        <input matInput readonly disabled="true">{{ user?.phone }}
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput readonly disabled="true"> {{ user?.email }}
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <mat-form-field>
                        <mat-label>Street Number</mat-label>
                        <input matInput readonly disabled="true"> {{ user?.location?.street?.number }}
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field>
                        <mat-label>Street Name</mat-label>
                        <input matInput readonly disabled="true"> {{ user?.location?.street?.name }}
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field>
                        <mat-label>City</mat-label>
                        <input matInput readonly disabled="true">{{ user?.location?.city }}
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field>
                        <mat-label>State</mat-label>
                        <input matInput readonly disabled="true"> {{ user?.location?.state }}
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <mat-form-field>
                        <mat-label>Country</mat-label>
                        <input matInput readonly disabled="true"> {{ user?.location?.country }}
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field>
                        <mat-label>Postcode</mat-label>
                        <input matInput readonly disabled="true"> {{ user?.location?.postcode }}
                    </mat-form-field>
                </div>
            </div>
            <button class="float-end mb-3" mat-raised-button color="primary" (click)="loadProfile()">Next Profile</button>
            <button class="float-end mb-3 me-3" mat-raised-button color="primary">Edit Profile</button>
        </div>



        <!-- <div class="row my-5">
            <div class="col-3">
                <div class="profile-left">
                    <div class="profile-img-wrp">
                        <img [src]="user?.picture?.large" class="profile-img">
                        <div class="camera-icon-wrp">
                            <img src="../../assets/img/camera-icon.png"/>
                        </div>
                    </div>
                    <div class="profile-details">
                        <p><span>Name</span> {{ user?.name?.title }}. {{ user?.name?.first }}
                            {{ user?.name?.last }}</p>
                        <p><span>DOB</span> {{ user?.dob?.date | date}}</p>
                        <p><span>Age</span> {{ user?.dob?.age }}</p>
                        <p><span>Gender</span> {{ user?.gender }}</p>
                        <p><span>Mobile</span> {{ user?.cell }}</p>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <div class="profile-right">
                    <form>
                        <div class="row">
                            <div class="col-4">
                                <mat-form-field>
                                    <mat-label>ID</mat-label>
                                    <input matInput readonly disabled="true"> G-{{ generatedNumber }} 
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field>
                                    <mat-label>Registered at the age</mat-label>
                                    <input matInput readonly disabled="true"> {{ user?.registered.age }}
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field>
                                    <mat-label>Registered On</mat-label>
                                    <input matInput readonly disabled="true"> {{ user?.registered.date | date }}
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <mat-form-field>
                                    <mat-label>Cell</mat-label>
                                    <input matInput readonly disabled="true"> {{ user?.cell }}
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field>
                                    <mat-label>Phone</mat-label>
                                    <input matInput readonly disabled="true">{{ user?.phone }}
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field>
                                    <mat-label>Email</mat-label>
                                    <input matInput readonly disabled="true"> {{ user?.email }}
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <mat-form-field>
                                    <mat-label>Street Number</mat-label>
                                    <input matInput readonly disabled="true"> {{ user?.location?.street?.number }}
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field>
                                    <mat-label>Street Name</mat-label>
                                    <input matInput readonly disabled="true"> {{ user?.location?.street?.name }}
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field>
                                    <mat-label>City</mat-label>
                                    <input matInput readonly disabled="true">{{ user?.location?.city }}
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <mat-form-field>
                                    <mat-label>State</mat-label>
                                    <input matInput readonly disabled="true"> {{ user?.location?.state }}
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field>
                                    <mat-label>Country</mat-label>
                                    <input matInput readonly disabled="true"> {{ user?.location?.country }}
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field>
                                    <mat-label>Postcode</mat-label>
                                    <input matInput readonly disabled="true"> {{ user?.location?.postcode }}
                                </mat-form-field>
                            </div>
                        </div>
                        <button class="float-end mb-3" mat-raised-button color="primary" (click)="loadProfile()">Next Profile</button>
                    </form>
                </div>
            </div>
        </div> -->
    </div>
</div>