<div id="bg"></div>
<div class="login-page">
    <div class="bg-text">
        <mat-card>
            <h3 class="text-center">Register</h3>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <mat-form-field class="w-100">
                    <input type="text" matInput placeholder="User Name" formControlName="name">
                    <mat-error *ngIf="data['name'].errors && data['name'].errors['required']">User Name is required</mat-error>
                </mat-form-field>
                <mat-form-field class="w-100">
                    
                    <input type="text" matInput placeholder="Email" formControlName="email" [pattern]="emailPattern">
                    <mat-error *ngIf="data['email'].errors && data['email'].errors['required']">Email is required</mat-error>
                    <mat-error *ngIf="data['email'].errors && data['email'].errors['pattern']">{{emailErrorMgs}}</mat-error>
                </mat-form-field>
                <mat-form-field class="w-100">
                    <input type="password" matInput placeholder="Password" formControlName="password" [pattern]="pwdPattern">
                    <mat-error *ngIf="data['password'].errors && data['password'].errors['required']">Password is required</mat-error>
                    <mat-error *ngIf="data['password'].errors && data['password'].errors['pattern']">{{pwdErrorMgs}}</mat-error>
                </mat-form-field>
                <mat-form-field class="w-100">
                    <input type="password" matInput placeholder="Confirm Password" formControlName="cnfPassword" [pattern]="cnfPwdPattern">
                    <mat-error *ngIf="data['cnfPassword'].errors && data['cnfPassword'].errors['required']">Password is required</mat-error>
                    <mat-error *ngIf="data['cnfPassword'].errors && data['cnfPassword'].errors['pattern']">{{cnfPwdErrMgs}}</mat-error>
                </mat-form-field>
                <div class="mt-4">
                    <button mat-raised-button color="primary">Register</button>
                    <a [routerLink]="['/login']" class="ml-2" mat-button color="#fff">Cancel</a>
                </div>
            </form>
        </mat-card>
    </div>
</div>